<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="<%= favicon %>" />
    <meta name="viewport" content="width=1400, initial-scale=1" />
    <% for (const entry of metas) { %>
      <meta name="<%= entry.name %>" content="<%= entry.content %>" />
    <% } %>

    <% for (const entry of links) { %>
      <link
        <% for (const [key, value] of Object.entries(entry)) { %>
          <%= key %>="<%= value %>"
        <% } %>
      />
    <% } %>
    <title><%= title %></title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
